<div class="container">
  <h2>Latest cheeses</h2>
  <p>Showing the last 5 cheeses logged.</p>
  <div class="new-entry">
  <%= link_to 'New Entry', new_cheese_path, class: "btn-primary" %>
</div>
<% if @latest_cheeses.count == 0 %>
  <p>You haven't tried any cheeses! Try some cheese and add it below.</p>
<% else %>
  <% @latest_cheeses.each do |cheese| %>
    <div class="cheese-entry">
      <h3><%= link_to cheese.name.capitalize, cheese %></h3>
      <p class="category">Category: <%= link_to cheese.category.name, cheese.category %></p>
      <p class="category">Date tried: <%= link_to cheese.created_at.strftime("%b %d, %Y"), cheese.category %></p>
      <%= image_tag attachment_url(cheese, :cheese_image, :fill, 200, 200, format: "jpg") %>
      <p><%= cheese.thoughts %></p>
    </div>
  <% end %>
<% end %>
</div>

