<!DOCTYPE html>
<html>
<head>
  <title>DairyDiaryApp</title>
  <link href='//fonts.googleapis.com/css?family=Bree+Serif|Open+Sans|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="container">
    <h1>Dairy Diary</h1>
    <a href="#">Latest cheeses</a>
    <%= link_to "All cheeses", cheeses_path %>
  </header>

<%= yield %>

</body>
</html>
